/* stacking all the elemnets in column */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* horizontal bar for displaying below the text */
.hBar {
    height: 7px;
    width: 25%;
    background: linear-gradient(90deg, rgba(231, 20, 92, 1) 0%, rgba(172, 132, 254, 1) 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* colorful title with linear gradient */
.barTitle {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.3em;
    margin-top: 45px;
    text-align: center;
    background: linear-gradient(90deg, rgba(172, 132, 254, 1) 0%, rgba(231, 20, 92, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* managing the display style of profile picture of each member */
.aboutProfiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

/* setting dimension of the div that holds profile picture */
.profileBox {
    height: 170px;
    width: 170px;
    margin: 30px;
    border-radius: 100%;
    position: relative;
}

/* setting the proper dimensions for the profile image */
.profileBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

/* style for the clicked profile */
.active {
    box-shadow: 0px 0px 0px 3px #222, 0px 0px 0px 8px #747d8c;
}

/* introducing pseudo after element profile box that holds background color to show when hovered. */
.profileBox::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

/* setting opacity of pseudo after element to show hover effect */
.profileBox:hover::after {
    opacity: 1;
    cursor: pointer;
}


/* contains details of each profile */
.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

/* holds the image of each profile with set dimensions */
.imageBox {
    height: 570px;
    width: 430px;
    box-shadow: 0px 0px 0px 6px #747d8c, 0px 0px 0px 12px #dfe4ea;
    border-radius: 10px;
    position: relative;
    background: none;
}

/* stying the image so that it is fitting properly in imageBox */
.imageBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* styling the box that holds details of each profile */
.textBox {
    height: 430px;
    width: 350px;
    background: linear-gradient(90deg, rgba(254, 132, 198, 1) 0%, rgba(207, 19, 50, 0.9332983193277311) 100%);
    position: absolute;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

/* giving margin from the left side */
.left {
    left: 19%;
}

/*  */
/* styling the text */
.textBox h1 {
    background: none;
    width: 100%;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.2rem;
}

.textBox h3 {
    background: none;
    width: 100%;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.2rem;
}

.textBox p {
    background: none;
    width: 100%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.2rem;
}
/*  */

/*  */
/* styling the button that holds link to each profile */
.profileButton {
    background: #fd79a8;
    width: max-content;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 0px auto;
    cursor: pointer;
    transition: all 0.5s;
}

.profileButton a {
    background: none;
    text-decoration: none;
}

.profileButton:hover {
    background: #e84393;
}
/*  */


/* form */
.formContainer {
    background: #282C35;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    height: max-content;
}
/* styling the form header */
.formContainer h1 {
    background: none;
    margin: 10px;
    text-transform: capitalize;
}

form {
    background: none;
    flex: 0.5;
}
/* styling the form label */
form label {
    font-size: 24px;
    background: none;
}
/* styling the input tag */
form input {
    font-size: 22px;
    width: 100%;
    background: #4b4b4b;
    margin: 13px 0px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
/* changing the layouts of the textarea */
form textarea {
    width: 100%;
    margin: 20px auto;
    background: #4b4b4b;
    border-radius: 10px;
    padding: 10px;
}

::placeholder {
    color: #a4b0be;
    padding: 10px;
}
/* styling the div that contains radio button and checkbox */
.inlineDiv {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inlineDiv>input {
    background: none;
    flex: 0.3;
}
/* styling the label for radio buttons */
.inlineDiv label {
    margin-left: 10px;
    width: 100%;
}
/*  */
/* styling the submit button of the form */
.submitButton {
    cursor: pointer;
    background: #ff6b81;
    transition: all 0.5s;
}

.submitButton:hover {
    background: #ff4757;
}
/*  */

/* popup message container is styled */
.messageContainer {
    background: #747d8c;
    margin: 20px auto;
    padding: 20px;
    transition: all 0.5s;
}

.hide {
    visibility: hidden;
}

.messageContainer p {
    background: none;
    text-align: center;
}