/* product card is a table  and styling of the table is done*/
table,tr,td{
    background-color:#2F3542 ;
    /* removes the border */
    border-collapse: collapse; 
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    
}
/* setting margins for the card items */
table{
    margin: 20px;
}
/* styling the image that is displayed on the card */
.productImage{
    width: 360px;
    height: 229.79px;
    object-fit: cover;
    border-radius: 10px;
    background: none;
}
/*  */
/* styling the text of product card */
.productTitle{
    margin-top: 15px;
    background: none;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.productDescription{
    background: none;
    text-align: left;
    font-size: 17px;
    width: 350px;
    margin-left: 6px;
    margin-top: 10px;
}
/* setting the width for the buttons */
.buttonsContainer>td{
    width: 50%;
}
/* styling the buttons */
.buttonsContainer>td>div{
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    margin-bottom: 35px;
    cursor: pointer;
    
}
/* styling the div containing the price */
.priceContainer{
    margin-left: auto;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 0;
    background: #FEF8F9;

    display: flex;
    align-items:center;
    justify-content: center;
}
/*  */
/* styling the price text */
.priceContainer p{
    background:none;
    color: #000000;
}
.originalPrice{
    font-size: 10px;
    margin-right: 5px;
    background: none;
    color: #eb4d4b !important;
}
/*  */
/* styling the add to cart button */
.addToCart{
    margin-left: 0;
    margin-right: auto;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #FF6B81;
    transition: all 0.5s ease-in-out;
}
.addToCart:hover{
    background: #eb4d4b;
}

/* increasing the size of the table when hovered */
table:hover{
    z-index: 999px;
    cursor: pointer;
    transform: scale(1.1);
}

/* styling the remove from cart button */
.removeText{
    color: red !important;
    font-weight: 600;
    transition: all 0.7s;
}
.removeText:hover{
    color:#ff6b81 !important;
}