/* style for table name */
.pageTitle {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: bisque;
    margin-bottom: 25px;
}
/* setting width for the table */
table {
    width: 80%;
    background: #fff5;
    border-collapse: collapse;
    margin: 20px auto;
}

tr:nth-child(even) {
    background: #fff4;
}

th {
    background: #fff6;
    padding: 10px;
    text-align: left;
}

td {
    background: #fff5;
    padding: 20px;
    text-align: left;
}
/* styling icon dimensions */
td img {
    background: none;
    height: 32px;
    width: 32px;
}

td a {
    text-decoration: none;
    background: none;
}

/* changing table row color on hover */
tbody tr:hover {
    background: #fffb;
    cursor: pointer;
}

thead {
    display: block;
    width: 100%;
    background: none;
}

thead th {
    width: 5%;
}

tbody td {
    width: 10%;
}

tbody {
    width: 100%;
    background: none;
    display: block;
    height: 60vh;
    overflow-y: scroll;
}
/* settinh header width */
.designIns thead th{
    width: 7%;
}

.designIns tbody td{
    width: 7%;
}

.designIns td img{
    height: 350px;
    width: 450px;
    object-fit: contain;
}
.photoCredits td img{
    height: 350px;
    width: 380px;
    object-fit: cover;
}
.photoCredits thead th{
    width: 20;
    text-align: left;
    padding: 10px;
}
.photoCredits tbody td{
    width: 30
}
.photoCredits td {
    text-align: left;
    padding: 10px 0px;
}